@charset "UTF-8";
/*ヘッダ作成用css
*HTML5以降でないと<header></header>を使用できないためcssで実装
* 作成：功刀
*/

/*画面全体*/
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*ヘッダー部分*/
.header{
    height: 50px;
    display: flex;
}

/*その他*/
.content{
    flex: 1;
}
