@charset "UTF-8";
/*ヘッダ作成用css
*HTML5以降でないと<header></header>を使用できないためcssで実装
* 作成：功刀
*/

/*画面全体*/
.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*ヘッダー部分*/
.header{
    height: 50px;
    display: flex;
}
/*ヘッダ用コンテンツ表示
*右揃え
*/
.headcontents{
  display:flex;
  justify-content: flex-end;
}
/*画面遷移用ボタンの位置*/
.button{
  float:right;
}
.buttons{
  margin-left: auto;
}

/*その他*/
.content{
    flex: 1;
}

/*ヘッダ用ロゴ表示部分*/
.headlogo{
  width: 300px;
}

.title{
  text-align: center;
}
