@charset "UTF-8";

body{

}
p{
  text-align: center;
}
.message{
  font-size: large;
  color: #ff0000;
}

.form_conf {
    text-align: center;
}

.button{
  display:inline-block;
}

.img{
  text-align:center;
}
.center{
  text-align: center;
}
table{
  margin: 0 auto;
}