@charset "UTF-8";

/*位置調整
作成者<野間>*/

.margin{
  margin:10px 0px 0px 170px;
}

.margin-center{
  margin:30px 0px 0px 400px;
}

.margin-r{
  position: relative;
  top: 20px;
  bottom: 50px;
  right: 0px;
  left: 480px
}

.margin-r1{
  position: relative;
  top: 20px;
  bottom: 50px;
  right: 0px;
  left: 575px
}

.margin-l{
   position: relative;
  top: 20px;
  bottom: 0px;
  right: 0px;
  left: 170px;
}

.margin-t{
  margin:20px 0px 0px 0px;
}
