@charset "UTF-8";

/*位置調整
作成者<野間>*/

.margin{
width: 500px;
  margin:0px 0px 0px 150px;
}

.margin-center{
  margin:20px 0px 0px 340px;
}

.margin-r{
  position: absolute;
  top: 185px;
  left: 570px
}

.margin-l{
   position: absolute;
  top: 185px;
  left: 160px
}