@charset "UTF-8";

/*位置調整
作成者<野間>*/

.margin{
  margin:0px 0px 0px 150px;
}

.margin-center{
  margin:30px 0px 0px 200px;
}

.margin-r{
  position: absolute;
  top: 185px;
  bottom: 0;
  right: 0;
  left: 570px
}

.margin-l{
   position: absolute;
  top: 185px;
  bottom: 0;
  right: 0;
  left: 160px
}