@charset "UTF-8";
.horizontalcontainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*ヘッダー部分*/
.form1{
    height: 50px;
    display: flex;
}
.form2{
    height: 50px;
    display: flex;
}
.form3{
    height: 100px;
    display: flex;
}

/*その他*/
.contents{
    flex: 1;
}
