@charset "UTF-8";
/*画面を縦で2カラムに分ける
* 作成：功刀
*/
/*縦2分割にしたい範囲*/
.verticalContainer{
    display: flex;

}
/*2分割にした左側*/
.model{
    width: 300px;
}
/*右側部分
* 子要素(服のデータ)を動的に折り返すようにする
*/
.contents{
    display: flex;
    flex-wrap: wrap;
}

/*子要素用クラス　服のデータ(画像、文字列)はこのクラス内にまとめること*/
.item{
  margin:10px;
}


